.main-component{
    width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center ;
    gap: 10px;

}

.login, .signup{
    background-color:#05e20c;
    cursor: pointer;
    width: 5vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
    color: black;
    font-weight: bold;
    &:hover{
        background-color: #035510;
    }
}