.header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 5rem;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    box-shadow: 1px 1px 23px black;
}

.header img{
    width: 4rem;
    height: 4rem;
    align-self: center;
    padding: 1%;
    filter: drop-shadow(2px 2px 2px black); 
}

.header input{
    height: 1rem;
    align-self: center;
}

.header .container-opt{
    display: flex;
    width: 15rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    span{
        color: brown;
        font-weight: bold;
    }
}