.header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 5rem;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    box-shadow: 1px 1px 23px black;
}

.header img{
    width: 4rem;
    height: 4rem;
    align-self: center;
    padding: 1%;
    filter: drop-shadow(2px 2px 2px black); 
}

.header input{
    height: 1rem;
    align-self: center;
}

.header .container-opt{
    display: flex;
    width: 15rem;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    svg{
        fill: rgb(11, 11, 11);
        width: 2rem;
        height: auto;
        cursor: pointer;        
    }
}
.header .container-find-users{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black;
    position: absolute;
    width: 15rem;
    background-color: white;
    top: 4rem;
    left: 50%;
    transform: translateX(-67%);
    span{
        padding: 0.35rem;
        color: black;
    }
}

.header .container-find-users .container-user-found{
    display: flex;
    align-items: center;
    transition: 0.2s ease;
    img{
        width: 2.5rem;
        height: auto;
    }
    &:hover{
        cursor: pointer;
        background-color: #e4e0e0;
    }
}

.header .error{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black;
    position: absolute;
    width: 15rem;
    background-color: white;
    top: 4rem;
    left: 50%;
    transform: translateX(-67%);
    span{
        padding: 0.35rem;
        color: red;
    }
}
/* .header .container-opt .profile-opt{
    position: absolute;
    color: black;
    background-color: white;
    top: 15vh;
    right: 0.75vw ;
    margin: 0;
    ul{
        list-style-type: none;
        li{

        }
    }
} */
.profile-opt {
    position: absolute; 
    top: 11.4vh; 
    right: 1.25vw; 
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    z-index: 1000; 
    width: 200px; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    opacity: 0; 
    transform: translateY(-10px);
}

.profile-opt.show {
    opacity: 1; 
    transform: translateY(0); 
}

.profile-opt.hidden {
    display: none; 
}

.profile-opt ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.profile-opt li {
    padding: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    color: black;
}

.profile-opt li:hover {
    background-color: #f0f0f0; 
}

