.card-component{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 19px  black;
    border-radius: 4px;
    margin-bottom: 15%;
    background-color: white;
    span{
        color: brown;
    }
}
.card-component .img-and-name-container{
    display: flex;
    flex-direction: column;
    width: 50rem;
    span{
        align-self: center;
    }
}

.card-component .userPoster-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-component .userPoster-info-container img{
    width: 3rem;
    margin: 1%;
    max-width: 100%;
}

.card-component .userPoster-info-container .userPoster{
    font-weight: bold;
    font-size: 1.5rem;
    align-self: center;
}

.card-component .container-description{
    display: flex;
}

.card-component .container-description .userPoster{
    font-weight: bold;
    font-size: 1rem;
    align-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-component .date-container{
    align-self: flex-end;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    svg{
        width: 1.75rem;
        height: auto; 
        fill: brown;
        margin: 1% 1% 1% 2%;

    }
}

.show-more-btn{
    margin-left: 1rem;
    width: fit-content;
    cursor: pointer;
    color: #b77f07;
}
.card-component .container-comments{
    display: flex;
    flex-direction: column;
}

.card-component .container-comments .comments{
    display: flex;
    flex-direction: row;
}
.card-component .container-comments .comments .userPoster{
    font-weight: bold;
}
.card-component .container-comments .comments .userPoster, 
.card-component .container-comments .comments .comment-content,
.card-component .container-comments .comments .date-comment{
    display: flex;
    margin: 0.5rem 1rem 0rem 1rem;
}