.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 4rem;
    background: linear-gradient(145deg, #6f6e6d, #201f1f); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5), inset 0 1px 4px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
    transition: transform 0.3s ease, background 0.5s ease-in-out;
    overflow: hidden;
    backdrop-filter: blur(5px);
  }
  
  .login-container:hover {
    transform: translateY(-5px);
    background: linear-gradient(145deg, #6f6e6d, #414141); 
  }
  
  .login-container h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .login-container button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: var(--btn-primary-color);
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 1rem;
  }
  
  .login-container button:hover {
    background: var(--btn-primary-color-hover);
    transform: translateY(-3px);
  }
  

.login-container h1 {
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.no-log-message, .success-log-message {
    width: 100%;
    text-align: center;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
}

.no-log-message {
    background-color: rgba(211, 47, 47, 0.1); /* Fondo suave para error */
    color: var(--error-color);
    border: 1px solid var(--error-color);
}

.success-log-message {
    background-color: rgba(39, 174, 96, 0.1); /* Fondo suave para éxito */
    color: var(--success-msg-color);
    border: 1px solid var(--success-msg-color);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
}

.input {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--tertiary-color);
    color: var(--txt-description-color);
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
    border: 1px solid var(--btn-primary-color);
    box-shadow: 0 0 5px var(--btn-primary-color);
}

button {
    padding: 0.8rem 1.5rem;
    background-color: var(--btn-primary-color);
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: var(--btn-primary-color-hover);
}

button:disabled {
    background-color: var(--secondary-color);
    cursor: not-allowed;
}
