.signup-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 15px;
    padding: 4rem;
    background: #807f7e;
    box-shadow: inset  0px 0px 20px rgba(25, 236, 2, 0.5); 
    h1{
        color: var(--signup-h1-color);
    }
}

.form-container {
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-content: space-between;
    width: 20rem;
    height: auto; 
    gap: 10px;
}

.container-info {
    display: flex;
    flex-direction: column; 
    margin-bottom: 1rem; 
}

.input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--cnt-description-color); 
    display: flex;
    width: 100%; 
    padding: 0.5rem 0; 
    color: var(--primary-color); 
    &::placeholder{
        color: var(--txt-description-color);
    }
    &:focus{
        outline: none;
    }
}

.container-error {
    color: var(--error-color); 
    font-size: 0.8rem; 
    margin-top: 0.5rem; 
}

.select {
    padding: 0.5rem; 
    border: 1px solid var(--following-bg-color); 
    border-radius: 5px; 
    width: 100%; 
    background: transparent; 
    color: var(--primary-color); 
}

.select option {
    background: transparent; 
    color: var(--primary-color); 
}

.success-message {
    color: var(--success-msg-color); 
    align-self: center;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.phrase{
    color: var(--secondary-color);
}
.login-btn {
    color: var(--primary-color); 
    cursor: pointer;
    font-weight: bold;
}
